    // a{
    //     padding: 5px 10px;
    //     background: #29a07e;
    //     width: fit-content;
    //     border-radius: 10px;
    //     border: none;
    //     font-size: 15px;
    //     text-decoration: none;
    //     color: #ffffff;
    //     font-weight: 600;
    //     cursor: pointer
    // }
    
    // p{
    //     border: 1px dashed #000000;
    //     padding: 5px 10px;
    //     color: #000000;
    //     font-weight: 600;
    // }
    // img{
    //     width: 20%;
    //     padding: 5px;
    
    // } 
  ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  }
  li{
    // background-color: red;
    display: flex;
    width: 47%;
    height: 80px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: auto 50px;
    border: 1px solid #333;
    a{
      width: 100%;
      display: flex;
      justify-content: center;
    }

  }
  
   #container{
    background: #ffffff;
  
    padding: 20px;
  
    display: flex;
    flex-direction: column;
    gap: 10px;
  } 

  .btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    width: fit-content;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
  }
  .btn-primary{
    background-color: #077cfe;
    color: #ffffff;
  }
  .btn{
    padding: 5px 10px;
    background-color: #077cfe;
    width: fit-content;
    border-radius: 10px;
    border: none;
    color: #ffffff;
  }

 