* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


/* body {
  margin: 0;
  padding: 0;
  
}
.dragging{
  background-color: white !important;
}

a{
  padding: 5px 10px;
  background: #29a07e;
  width: fit-content;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer
}

p{
  border: 1px dashed #000000;
  padding: 5px 10px;
  color: #000000;
  font-weight: 600;
}

img{
  width: 20%;
  padding: 5px;
 
} */

/* #container{
  background: #ffffff;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.header {
  display: flex;
  padding: 0 40px;
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  /* justify-content: space-between; */
  height: 65px;
  box-shadow: 0 1px 6px #0006;
  box-sizing: border-box;
  gap: 20px;
  .header-logo{
    min-width: 80px;
    width: 10%;
    /* background-color: red; */
    .header-logo-img{
      width: 80%;
    }
  }
  .header-listBtn{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:red; */
    gap: 30px;
    .header-a{
    cursor:pointer;
    padding: 10px 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #072754;
    font-size: 20px;
    font-weight: 600;
    font-size: 18px;
    gap: 10px;
    font-family: "Inter Variable","Roboto",sans-serif;;
  }
   .header-a:hover{
    background:  rgb(234, 235, 244);
  }
  }
  .login-btn{
    background-color: #072754;
    cursor:pointer;
    height: 30px;
    width: 120px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #e4dede;
    /* font-weight: 600; */
    font-size: 16px;
    /* gap: 10px; */
    font-family: "Inter Variable","Roboto",sans-serif;
  }
  .login-btn:hover{
    color: #ffffff;
  }
  
}
